/* Links */

#content a:link,
dl.portlet a:link {
    color: #003399;
    border-bottom: 0.1em solid #003399;
}

dl.portlet a:visited {
    color: #003399;
    border-bottom: 0.1em solid #003399;
}
#content a:visited {
    color: #668899;
    border-bottom: 0.1em solid #668899;
}

#content a:hover,
dl.portlet a:hover {
    text-decoration: none;
}
#content a:target {
    background-color: #ffb;
}

.sublist{
    margin-left: 3em;
    font-style: italic;
}

.sublist a {
    margin-right: 0.5em;
}

/* Button http://webdesignerwall.com/tutorials/css3-gradient-buttons */

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 5px 2px; /* more vertical margin for mobile */
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

#content .button.darkblue {
    color: #d9eef7 !important;
    border: solid 1px #003399;
    background: #999ada;
    background: -webkit-gradient(linear, left top, left bottom, from(#999ada), to(#003399));
    background: -moz-linear-gradient(top,  #999ada,  #003399);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999ada', endColorstr='#003399');
}
#content .button.darkblue:hover {
    background: #52126d;
    background: -webkit-gradient(linear, left top, left bottom, from(#001e8e), to(#061454));
    background: -moz-linear-gradient(top,  #001e8e,  #061454);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e8e', endColorstr='#061454');
}
#content .button.darkblue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#003399), to(#999ada));
    background: -moz-linear-gradient(top,  #003399, #999ada);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#003399', endColorstr='#999ada');
}

/* collapsible */
.readmore-item {
    margin-bottom: 1.5em; /* different margin for mobile */
}
.readmore-item .description {
    padding-bottom: 0em;
    margin-bottom: 0.1em; /* different margin for mobile */
}
.collapse-head {
    background: url('++resource++osha.campaigntoolkit.resources/arrow-up.png') no-repeat center right;
    padding-right: 1em;
}
.collapse-head.collapsed {
    background: url('++resource++osha.campaigntoolkit.resources/arrow-down.png') no-repeat center right;
}

/* highlights */

#highlights{
    border: 1px solid #c5cbd8;
    padding-bottom: 2.5em;
}

#highlightsContainer {
   padding-bottom: 20px;
   background: url("++resource++osha.campaigntoolkit.resources/highlights.gif") no-repeat bottom center;
   margin-bottom: 2em;
   font-size: 80%;
   line-height: 1.5em;
}

#highlights-content {
    margin-bottom: 15px;
}

#highlights h2, #in-focus-container h2{
    background: #c5cbd8;
    font-size: 1.2em;
    border-bottom: 0;
    padding: 0.5em 1em;
    margin:0;
}

#highlights h3{
    font-size: 1.4em;
    color: #003399;
    margin: 0;
}
#highlights-1, #highlights-2, #highlights-3, #highlights-4 {
    padding: 1em;
}

ul#highlights-tabs {
    list-style: none outside none;
}
#highlights-tabs {
    list-style: none;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1em 0.5em 0;
}

#highlights-tabs li.ui-corner-top {
    float: left;
     margin: 0 0.5em 0 0;


}
#highlights-tabs li a {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px #999;
    background: #c5cbd8;
    padding: 0.4em 1.6em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

#highlights-tabs li:hover a{
    color: #003399;
}

#highlights-tabs li.ui-state-active {
    background:#98a2b7;
}

#highlights-tabs a.current {
    background:#98a2b7;
}

.teaserdate{
    background: #e6e8ed;
    padding: 0.2em 1em;
    font-size: 0.8em;
    color: #666;
    display: inline-block;
    margin: 1em 0;

}


#highlights img{
    float: right;
    margin: 1em 0 1em 1em;
}

#highlight-1, #highlight-2, #highlight-3, #highlight-4{
    width: 48%;
}


/* in-focus */

#in-focus-container ul{
    margin:0;
    list-style: none;
}

#in-focus img{
   margin: 0 0 0.5em 0.5em;
}

#in-focus  h3{
   margin: 0 0 0.5em 0;
   color:#003399;
}
#infocus-1, #infocus-3{
    padding-left: 2%;
}

#infocus-2, #infocus-4{
    padding-left: 2%;
}

.back .back-text{
    max-width: 360px;
}

/*************************************Maite changes highend **********************************************/


#gotocorporate{
background-image: -moz-linear-gradient(top, #EEE, #CCC);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC));
    padding: 5px 10px;
}
#actions-header {
    background: #b9d428;
    padding-right:10px;
    padding-left:10px;
}

#infocus-1, #infocus-3 {
   margin-bottom: 2em;;
}

#in-focus img {
    margin: 0 0 0.5em 0.5em;
    float: right;
    width: 100px;
}

#in-focus h3 {
    margin-top:1em !important;

}

#highlights img {
    float: left !important;
    margin: 1em 1em 0 0 !important;
}

#highlightsContainer {
    font-size: 100% !important;
}

#highlights h3 {
    font-size: 1.1em !important;
}

#highlights-tabs li a {
    padding: 0.4em 1.2em !important;
}

.visualClear {
    clear: both;
}

#content a:link, dl.portlet a:link {
    border-bottom: 0 !important;
}

#search-box-top {
    background-image: -moz-linear-gradient(top, #e4e4e4, #909090);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e4e4e4), to(#909090));
}


@media (max-width: 480px) {
#mobile-site-actions img{
    width: 70%;

}
}

